# --- macOS ---
.DS_Store

# --- IDE ---
.idea/
.vscode/

# --- Python ---
# Кэш-файлы Python
__pycache__/
.mypy_cache/
.pytest_cache/

# --- Временные файлы и папки ---
ScreenTranslator/server/static/processed
ScreenTranslator/server/static/uploads
ScreenTranslator.egg-info/
dist/
build/
.env/
.venv/
venv/
env/